body {
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  color: #797979;
  background-color: #232323;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: '';
  background-color: #eef0dd;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23aca992' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 60%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

#game {
  width: 100%;
  height: 100%;
  max-width: 630px;
  max-height: 630px;
  display: grid;
  grid-gap: 0px;
  box-sizing: border-box;
  border: 15px solid rgba(214, 212, 197, 0.5);
  z-index: 1;
}

#game > div {
  box-sizing: border-box;
  background-color: #e7e6dd;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d4c554;
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  animation: zoom-in 0.4s normal 0s forwards ease-in-out;
  transition: background-color 0.1s linear;
}

#game > div:nth-child(3n + 2) {
  background: #dfddd1;
}

#game > div:nth-child(8n + 1) {
  background: #d6d4c5;
}

#game > div[show] {
  background-color: #ffffff;
}

#game > div[mark] {
  background-image: url(mark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

#game > div[mine] {
  background-image: url(mine.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

@keyframes zoom-in {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
